<div class ="jumbotron center">
<h1>Welcome to my pinteresting App</h1>
<%= link_to "Log In", "http://google.com", class: "btn btn-default" %>
<%= link_to "Sign Up", "http://google.com", class: "btn btn-success" %>
</div>

